* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

h1 {
    font-size: 500%;f
    text-align:center;
    line-height:100px;
    height:100px;
    margin-bottom:10px;
    color:white;
    font-family: "American Typewriter", serif;
}

h2 {
    font-size: 300%;
    text-align: center;
    line-height: 100px;
    height: 100px;
    position:relative;
    top: 0x;
    left: 5%;
    color: white;
    font-family: "American Typewriter", serif;
    margin-bottom: 30px;
    margin-top: 5px;
}

h3 {
    font-family: "American Typewriter", serif;
    font-size: 30px;
    color: white;
    margin-bottom: 5px;
}

h4 {
    font-family: "American Typewriter", serif;
    right: 5%;
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

p {
    color: white;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    text-align: left;
}

.colored-div {
    color: white;
}

body {
    background-color: #000000;
}

.bottom-align{
    vertical-align: bottom;
}

.top-align{
    vertical-align: top;
}

.middle-align{
    vertical-align: middle;
}

.table1:hover {
    transform: scale(1.1);
}

a {
    color: rgb(255, 213, 0);
    font-family: Arial, sans-serif;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.typing-container {
    display: inline-block;
    overflow: hidden;
}

.typing-text {
    display: inline-block;
    animation: typing-animation 8s steps(40, end) infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid white;
    text-align: center;
}

@keyframes typing-animation {
    from { width: 0 }
    to { width: 100% }
}

h5 {font-size: 180px;
    text-align: left;
    line-height: 180px;;
    height: 120px;
    margin-bottom: 0px;
    color: white;
    font-family: "American Typewriter", serif;
}

.cc{
    width: 100px;
    height:150px;
    background: black;
    border-bottom: 3px solid white;
    padding:0;
    margin:0;
    color: white;
    display:inline-block;
  }

  input {
    width: 170px;
    height: 28px;
    font-size: 18px;
  }

