* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

h1 {
    font-size: 500%;
    text-align: center;
    line-height: 100px;
    height: 100px;
    font-family: "Times New Roman", serif;
    margin-bottom: 10px;
    color: azure;
    font-family: "American Typewriter", serif;
}

h2 {
    font-size: 300%;
    text-align: center;
    line-height: 100px;
    height: 100px;
    position:relative;
    top: 0x;
    left: 5%;
    color: azure;
    font-family: "American Typewriter", serif;
    margin-bottom: 30px;
    margin-top: 5px;
}

h3 {
    font-family: "American Typewriter", serif;
    font-size: 30px;
    color: aliceblue;
    margin-bottom: 5px;
}

h4 {
    font-family: "American Typewriter", serif;
    right: 5%;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

p {
    color: aliceblue;
    font-family: "American Typewriter", serif;
    margin-top: 20px;
    text-align: left;
}

p:hover {
    color: rgb(116, 190, 255);
}

.colored-div {
    color: #ffffff;
}

h1:hover {
    color: rgb(84, 249, 255);
}

h2:hover {
    color: rgb(255, 132, 173);
}

h3:hover {
    color: rgb(66, 56, 255);
}

h4:hover {
    color: rgb(142, 86, 255);
}

.colored-div:hover {
    color: #fff348;
}

body {
    background-color: #000000;
}

.bottom-align{
    vertical-align: bottom;
}

.top-align{
    vertical-align: top;
}

.middle-align{
    vertical-align: middle;
}

.table1:hover {
    transform: scale(1.1);
}

a {
    color: rgb(255, 213, 0);
    font-family: "American Typewriter", serif;
    text-decoration: none;
}

a:hover {
    color: rgb(17, 195, 53);
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.typing-container {
    display: inline-block;
    overflow: hidden;
}

.typing-text {
    display: inline-block;
    animation: typing-animation 8s steps(40, end) infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid orange;
    text-align: center;
}

@keyframes typing-animation {
    from { width: 0 }
    to { width: 100% }
}

h5 {font-size: 70px;
    text-align: center;
    line-height: 100px;
    height: 100px;
    margin-bottom: 10px;
    color: azure;
    font-family: "American Typewriter", serif;
}

.cc{
    width: 30px;border:90px;background: black;
    border-bottom: 3px solid white;
    font-size: 50px;
    font-family: "American Typewriter", serif;
    color: white;
  }

  input {
    width: 170px; /* 设置输入框宽度 */
    height: 35px; /* 设置输入框高度 */
    font-size: 18px;
  }

